Server/ServerFramework/.vs/
Client/FreezeBomb/Excutable/FreezeBomb_x64_Release.iobj
Client/FreezeBomb/Excutable/FreezeBomb_x64_Release.ipdb
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.log
*.ilk

*.sbr
\.vs
\x64
\Debug
\Release
*.iobj
*.ipdb
Client/FreezeBomb/Solution/FreezeBomb.vcxproj.filters
Client/FreezeBomb/Solution/FreezeBomb.vcxproj

Client/FreezeBomb/Solution/FreezeBomb.vcxproj.filters
Client\FreezeBomb\Solution\Debug
Server/2019_WT_SERVER/2019_WT_SERVER/Debug/
Server/FreezeBombServer/FreezeBombServer/Debug/
Client/FreezeBomb/Excutable/FreezeBomb_Release.iobj
Client/FreezeBomb/Excutable/FreezeBomb_Release.ipdb
